<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ $title := .Title }}
{{ if .IsHome }}
  <title>{{ .Site.Title }}</title>
{{ else }}
  <title>{{ $title }} — {{ .Site.Title }}</title>
{{ end }}
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<link rel="icon" href="/img/logo-kupiumno.png" type="image/png">
{{ with resources.Get "css/main.css" }}
  {{ $css := . | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
{{ end }}
